body{
	background-image: url("../images/white_wall_hash.png");
	background-color:#f3f3f3;
	/*color: #4b4d51;*/
}

a{
	text-decoration: none;
}

.center {
	margin: auto;
  text-align:center;
}

.debug{
	border-color: red;
	border-style: dotted;
}

.container{
	width:80%;
  max-width:1000px;
  min-width:200px;
  margin: auto;
}